/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;

  position: relative;
  background-color: #121212 !important;
  scroll-behavior: smooth;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* @media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
} */

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;

  color: #000;
  background-image: linear-gradient(0deg, #fdf4f4, #a7a2a2);

  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  top: 0;
  /* z-index: 9999;
  transition: 0.32s ease-in-out; */
}
.navbar img {
  width: 150px;
}
nav.navbar a.navbar-brand {
  width: 20%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: rgb(8, 8, 8);

  font-size: 18px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navi-links {
  display: flex;
  color: black;
  transition: color 0.3s;
  gap: 30px;
  justify-content: end;
}
.navi-links a:nth-child(1):hover {
  color: #333131;
  transition: color 0.3s;
}
.navi-links a:nth-child(2):hover {
  color: #333131;
  transition: color 0.3s;
}
.navi-links a:nth-child(3):hover {
  color: #333131;
  transition: color 0.3s;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.568),
      rgb(255, 246, 246)
    ),
    url("./assets/img/banner.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.text-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #0f0e0e;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Brands Css ************/
.brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
  background-image: linear-gradient(0deg, #fdf4f4, #d8d1d1);
  /*   background-color: #fdf4f4; */
}
.brands h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.brands p {
  color: #0e0d0d;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.brands .nav.nav-pills {
  width: 75%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.brands .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.brands .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.brands .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #686767, #f9f1f1);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.brands .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.brands .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#brands-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#brands-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#brands-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.tab1 {
  border: 2px solid #a7a2a2;
  border-radius: 10px;
  background-color: #fdf4f4;
  display: flex;
  width: 80vw;
  flex-direction: column;

  align-items: center;
  gap: 20px;
  padding: 0px;
}
.tab1-fila1 {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.tab1-fila2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.tab1 img {
  width: 25%;
}
.tab2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  gap: 20px;
  background-color: #fdf4f4;
  padding: 20px;
  border: 2px solid #a7a2a2;
  border-radius: 10px;
}
.tab2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab2 img {
  width: 50%;
  height: 400px;
}
.tab2 h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.tab2 p {
  color: #0e0d0d;

  text-align: justify;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
.tab3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  gap: 20px;
  background-color: #fdf4f4;
  padding: 20px;
  border: 2px solid #a7a2a2;
  border-radius: 10px;
}
.tab3-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab3 img {
  width: 50%;
  height: 400px;
}
.tab3 h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.tab3 p {
  color: #0e0d0d;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 10px 0;
  text-align: justify;
  text-align: left;

  width: 56%;
  line-height: 1.5;
}

/* Footer*/

.Footer {
  padding: 50px;

  background-image: linear-gradient(0deg, #a7a2a2, #fdf4f4);
  gap: 20px;
}
.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer img {
  width: 150px;
}
.Footer-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0%;
  justify-content: space-between;
}

.logo-footer {
  display: flex;
  padding: 0%;
  align-items: center;
}

.Footer-info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Tablet Styles */
@media (min-width: 770px) and (max-width: 990px) {
  .navbar {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }
  .navbar img {
    width: 120px;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: rgb(8, 8, 8) !important;

    font-size: 18px;
  }

  span.navbar-text {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .navi-links {
    display: flex;
  }
  .banner {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.568),
        rgb(255, 246, 246)
      ),
      url("./assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }

  .text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .banner h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #0f0e0e;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }

  .brands {
    padding: 80px 0;
    position: relative;
    background-image: linear-gradient(0deg, #fdf4f4, #d8d1d1);
    /*   background-color: #fdf4f4; */
  }
  .brands h2 {
    color: #000000;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
  }
  .brands p {
    color: #0e0d0d;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
  }
  .brands .nav.nav-pills {
    width: 60%;
    height: 80px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
  }

  .brands .nav.nav-pills .nav-item {
    width: 33.33333%;
  }
  .brands .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
  .brands .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #686767, #f9f1f1);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .brands .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
  }
  .brands .nav.nav-pills .nav-link.active {
    border: 0.5px solid rgba(255, 255, 255, 1);
  }
  .nav-link#brands-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link#brands-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#brands-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
  }

  .tab1 {
    border: 2px solid #a7a2a2;

    background-color: #fdf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    gap: 25px;
    padding: 10px;
  }
  .tab1-fila1 {
    display: flex;
    padding: 20px;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .tab1-fila2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
  }
  .tab1 img {
    width: 30%;
  }
  .tab2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdf4f4;
    padding: 20px;
    border: 2px solid #a7a2a2;
    border-radius: 10px;
  }
  .tab2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab2 img {
    width: 200px;
    height: 150px;
  }
  .tab2 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .tab2 p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: left;

    width: 56%;
  }
  .tab3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdf4f4;
    padding: 20px;
    border: 2px solid #a7a2a2;
    border-radius: 10px;
  }
  .tab3-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab3 img {
    width: 200px;
    height: 150px;
  }
  .tab3 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .tab3 p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0;
    text-align: left;

    width: 56%;
    line-height: 1.5;
  }
  .Footer {
    padding: 2rem 0;

    background-image: linear-gradient(0deg, #a7a2a2, #fdf4f4);
    gap: 20px;
  }
  .logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footer img {
    width: 150px;
  }
  .Footer-item {
    display: flex;
    padding: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .logo-footer {
    display: flex;

    align-items: center;
  }

  .Footer-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footer-info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }
  .navbar img {
    width: 120px;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: rgb(8, 8, 8) !important;

    font-size: 18px;
  }

  span.navbar-text {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .navi-links {
    display: flex;
  }
  .banner {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.568),
        rgb(255, 246, 246)
      ),
      url("./assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }

  .text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .banner h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #0f0e0e;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }

  .brands {
    padding: 80px 0;
    position: relative;
    background-image: linear-gradient(0deg, #fdf4f4, #d8d1d1);
    /*   background-color: #fdf4f4; */
  }
  .brands h2 {
    color: #000000;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
  }
  .brands p {
    color: #0e0d0d;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
  }
  .brands .nav.nav-pills {
    width: 60%;
    height: 80px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
  }

  .brands .nav.nav-pills .nav-item {
    width: 33.33333%;
  }
  .brands .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
  .brands .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #686767, #f9f1f1);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .brands .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
  }
  .brands .nav.nav-pills .nav-link.active {
    border: 0.5px solid rgba(255, 255, 255, 1);
  }
  .nav-link#brands-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link#brands-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#brands-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
  }
  .tab1 {
    border: 2px solid #a7a2a2;

    background-color: #fdf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .tab1-fila1 {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .tab1-fila2 {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .tab1 img {
    width: 30%;
  }
  .tab2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdf4f4;
    padding: 20px;
    border: 2px solid #a7a2a2;
    border-radius: 10px;
  }
  .tab2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab2 img {
    width: 200px;
    height: 150px;
  }
  .tab2 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .tab2 p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: left;

    width: 56%;
  }
  .tab3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdf4f4;
    padding: 20px;
    border: 2px solid #a7a2a2;
    border-radius: 10px;
  }
  .tab3-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab3 img {
    width: 200px;
    height: 150px;
  }
  .tab3 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .tab3 p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0;
    text-align: left;

    width: 56%;
    line-height: 1.5;
  }
  .Footer {
    padding: 2rem 0;

    background-image: linear-gradient(0deg, #a7a2a2, #fdf4f4);
    gap: 20px;
  }
  .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Footer img {
    width: 150px;
  }
  .Footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
  }

  .logo-footer {
    display: flex;

    align-items: center;
  }

  .Footer-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footer-info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile Styles */
@media (min-width: 251px) and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    gap: 10px;
  }
  .navbar img {
    padding-right: 10px;
    width: 120px;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: rgb(8, 8, 8) !important;

    font-size: 18px;
  }

  span.navbar-text {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .navi-links {
    display: flex;
  }
  .banner {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.568),
        rgb(255, 246, 246)
      ),
      url("./assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }

  .text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .banner h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #0f0e0e;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }

  .brands {
    padding: 80px 0;
    position: relative;
    background-image: linear-gradient(0deg, #fdf4f4, #d8d1d1);
    /*   background-color: #fdf4f4; */
  }
  .brands h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  .brands p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
  }
  .brands .nav.nav-pills {
    width: 60%;
    height: 80px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
  }

  .brands .nav.nav-pills .nav-item {
    width: 33.33333%;
  }
  .brands .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 8px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
  .brands .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #686767, #f9f1f1);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .brands .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
  }
  .brands .nav.nav-pills .nav-link.active {
    border: 0.5px solid rgba(255, 255, 255, 1);
  }
  .nav-link#brands-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link#brands-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#brands-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
  }

  .tab1 {
    border: 2px solid #a7a2a2;

    background-color: #fdf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .tab1-fila1 {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .tab1-fila2 {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .tab1 img {
    width: 30%;
  }
  .tab2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdf4f4;
    padding: 20px;
    border: 2px solid #a7a2a2;
    border-radius: 10px;
  }
  .tab2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab2 img {
    width: 200px;
    height: 150px;
  }
  .tab2 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .tab2 p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: left;

    width: 56%;
  }
  .tab3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdf4f4;
    padding: 20px;
    border: 2px solid #a7a2a2;
    border-radius: 10px;
  }
  .tab3-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .tab3 img {
    width: 200px;
    height: 150px;
  }
  .tab3 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .tab3 p {
    color: #0e0d0d;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0;
    text-align: left;

    width: 56%;
    line-height: 1.5;
  }
  .Footer {
    padding: 2rem 0;

    background-image: linear-gradient(0deg, #a7a2a2, #fdf4f4);
    gap: 20px;
  }
  .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Footer img {
    width: 150px;
  }
  .Footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    gap: 20px;
  }

  .logo-footer {
    display: flex;

    align-items: center;
  }

  .Footer-info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footer-info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
